<h1> STATUS PAGE APP</h1>
<form>
    <div class="form-group">
        <label for="Name">Service Name : </label>
        <input type="text" 
        [(ngModel)]="newServiceName" id="Name"
        name="task" class="form-control"
        placeholder="Type Service Name"> 
        <br><br>
        <label for="Status">Service Status : </label>
        <input type="text" 
        [(ngModel)]="newServiceStatus"  id="Status"
        name="task" class="form-control"
        placeholder="Type Service Status"> 
    </div>
</form>
<br>
<button (click)="addservice()">Add New Service</button>
<br><br>
<button (click)="navtotasklist()">Back to list of Services</button>
